{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre{% endblock %}
{% block content %}

<div class="w-screen h-screen flex flex-col items-center justify-center">
    <h1 class="text-left text-6xl text-blue-300">Sobre o Projeto</h1>
    <p class="text-left text-lg font-semibold mt-2 ml-10 border-l-2 pl-2 border-blue-300">
        A Crie-se é um projeto escolar que busca criar uma espécie de rede <br>
        social local, permitindo que usuários montem cards personalizados com <br>
        informações como nome, interesses, biografia e etc. Além disso, é <br>
        possível customizar as cores dos cards, estimulando a criatividade e a <br>
        identidade de cada pessoa. O projeto tem como público-alvo os alunos e <br>
        os visitantes da feira, sendo uma oportunidade de interação e troca de <br>
        experiências. O diferencial do Crie-se está na liberdade criativa que <br>
        oferece, possibilitando que cada usuário crie um card único e também <br>
        conheça os cards de outras pessoas, promovendo conexão e engajamento.
    </p>
</div>

{% endblock %}